Repository JimmyALiu/FoodBankConnect, pull requests merged in 2025-06, with the labels that each got.

#61 getting main components up into my branch
  client/index.html
  client/package-lock.json
  client/package.json
  client/public/logo.svg
  client/public/vite.svg
  client/src/App.css
  client/src/App.tsx
  client/src/Home.tsx
  client/src/Search.tsx
  client/src/components/Dashboard.tsx
  client/src/index.css
  client/src/main.tsx
  documentation/guest_doc.md
Labels: code, test, c2-form-validator

#63 Responsive Flagging System (With working add button, and clients editable)
  client/src/Flagged.tsx
  client/src/__test__/Flagged.spec.js
  client/src/components/EditClientForm.tsx
  client/src/components/Modal.tsx
  client/src/utils/utils.ts
Labels: bug, code, c4-volunteer-hub

#62 Flagger type changes and bare bone architecture
  server/__test__/flagger.test.ts
  server/__test__/mock_clients.ts
  server/routes/helper.ts
  server/src/intake_forms/custom_types.ts
  server/src/intake_forms/flagger.ts
Labels: code, c2-form-validator

#66 Drafted Threat Assessment.
  documentation/threat_assessment.md
Labels: documentation, for-review

#68 User doc changes
  documentation/guest_doc.md
  documentation/images/volunteer/flagged-component-issue.jpg
  documentation/images/volunteer/flagged-component.jpg
  documentation/images/volunteer/search-button.jpg
  documentation/images/volunteer/search-entries.jpg
  documentation/images/volunteer/search-fields.jpg
  documentation/images/volunteer/search.jpg
  documentation/images/volunteer/volunteer-hub-home-screen-flagged.jpg
  documentation/images/volunteer/volunteer-hub-home-screen-search.jpg
  documentation/images/volunteer/volunteer-hub-home-screen.jpg
  documentation/images/volunteer/volunteer-hub-login-google-ref.jpg
  documentation/images/volunteer/volunteer-hub-login.jpg
  documentation/volunteer_doc.md
Labels: documentation, c1-intake-form, for-review, c4-volunteer-hub

#65 flagger fully tested and finished other than duplicates
  server/__test__/flagger.test.ts
  server/src/intake_forms/custom_types.ts
  server/src/intake_forms/flagger.ts
  server/src/intake_forms/translate_to_FBM.ts
Labels: for-review, code, c2-form-validator
